:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

.profile-card-wrapper{
    background-color: white;
    height:500px;
    width: 450px;
    border-radius: 20px;
}