.profile-card-top{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-card-info-bg{ /*Fix this later*/
    background-image: url('../assets/img/bg-pattern-card.svg');
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.profile-card-info{
    position: relative;
    top: -15px;
    display: flex;
    flex-flow: wrap;
    width: 50%;
    align-items: baseline;
    justify-content: center;
    line-height: 1.7em;
    
}
.profile-name{
    font-weight: bold;
    color: hsl(229, 23%, 23%);
    font-size: 1.1em;
}
.profile-age{   
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    font-size: 1.1em;
    padding-left: 10px;
}
.profile-city{
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    font-size: 0.9em;
}