@font-face {
    font-family: 'Kumbh Sans';
    src: url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
  }
  
  * {
    font-family: 'Kumbh Sans', monospace;
    margin: 0;
    padding: 0;
  }

  body{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      font-size: 18px;
      background:hsl(185, 75%, 39%);
      background-image: url('./assets/img/bg-pattern-top.svg'), url('./assets/img/bg-pattern-bottom.svg');
      background-position:  0px -500px, right 500px;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }